{% extends "base.html" %}

{% block title %}Detail Estadio{% endblock %}

{% block content %}
	<div class="media">
	  <div class="media-body">
	    <h5 class="mt-0">Detail Estadio</h5>
	   <label>
	   		Nombre Estadio:
	   </label> {{ object.Nombre }} <br>
	   <label>
	   		Ubicacion:
	   </label>
		{{ object.Ubicacion }}  <br>
		<label>
			Cantidad de espectadores:
		</label>
		{{ object.CantidadPersonas }} Personas <br>

		<a href="{% url 'listesta' %}">| back |</a>

	  </div>
	</div>

{% endblock %}
