{% extends "base.html" %}

{% block title %}Detail Equipo{% endblock %}

{% block content %}
	<div class="media">
	  <div class="media-body">
	    <h5 class="mt-0">Detail Equipo</h5>
	   <label>
	   		Nombre Equipo:
	   </label> {{ object.Nombre }} <br>
	   <label>
	   		Estadio:
	   </label>
		{{ object.Estadio }}  <br>
		<label>
			Copas:
		</label>
		{{ object.Copas }} Copas <br>

		<a href="{% url 'liste' %}">| back |</a>

	  </div>
	</div>

{% endblock %}
