{% extends "base.html" %}

{% block title %}Detail Jugador{% endblock %}

{% block content %}
	<div class="media">
	  <div class="media-body">
	    <h5 class="mt-0">Detail Jugador</h5>
	   <label>
	   		Nombre Jugador:
	   </label> {{ object.Nombre }} <br>
	   <label>
	   		Estatura:
	   </label>
		{{ object.Estatura }} Cm <br>
		<label>
			Peso:
		</label>
		{{ object.Peso }} Kg <br>
		<label>
			Edad:
		</label>
		{{ object.Edad }} <br>
		<label>
			Posicion:
		</label>
		{{ object.Posicion }} <br>
		<label>
			Equipo:
		</label>
		{{ object.Equipo }} <br>

		<a href="{% url 'list_jugadores' %}">| back |</a>

	  </div>
	</div>


{% endblock %}
