{% extends "base.html" %}

{% block title %}List Equipos{% endblock %}

{% block content %}


	<table class="table">
		<th>Nombre del equipo:</th>
		<th>Estadio:</th>
		<th>Copas:</th>
		<th>Detail</th>
		{% for Equipos in object_list %}
			<tr>
				<td>{{ Equipos.Nombre }}</td>
				<td>{{ Equipos.Estadio }}</td>
				<td>{{ Equipos.Copas }}</td>
				<td><a href="{% url 'detailE' Equipos.pk %}"> Detail </a></td>
			</tr>
	{% endfor %}
	</table>



{% endblock %}