{% extends "base.html" %}

{% block title %}List Jugadores{% endblock %}

{% block content %}


	<table class="table">
		<th>Nombre del jugador:</th>
		<th>Estatura:</th>
		<th>Peso:</th>
		<th>Edad:</th>
		<th>Posicion:</th>
		<th>Equipo:</th>
		<th>Detail</th>
		{% for Jugadores in object_list %}
			<tr>
				<td>{{ Jugadores.Nombre }}</td>
				<td>{{ Jugadores.Estatura }}</td>
				<td>{{ Jugadores.Peso }}</td>
				<td>{{ Jugadores.Edad }}</td>
                <td>{{ Jugadores.Posicion }}</td>
				<td>{{ Jugadores.Equipo }}</td>
				<td><a href="{% url 'detailj' Jugadores.pk %}"> Detail </a></td>
			</tr>
	{% endfor %}
	</table>



{% endblock %}
