{% extends "base.html" %}

{% block title %}List Estadios{% endblock %}

{% block content %}


	<table class="table">
		<th>Nombre del estadio:</th>
		<th>Ubicacion:</th>
		<th>Cantidad de Espectadores:</th>
		<th>Detail</th>
		{% for Estadios in object_list %}
			<tr>
				<td>{{ Estadios.Nombre }}</td>
				<td>{{ Estadios.Ubicacion }}</td>
				<td>{{ Estadios.CantidadPersonas }}</td>
				<td><a href="{% url 'detailES' Estadios.pk %}"> Detail </a></td>
			</tr>
	{% endfor %}
	</table>



{% endblock %}