{% extends "base.html" %}

{% block title %}List Jugadores en Equipos X{% endblock %}

{% block content %}

<form method='GET'>
    <label>De que equipo quieres saber sus jugadores</label>
  <input type='text' name='q' value='{{ request.GET.q }}'>
  <input class="button" type='submit' value="Buscar Jugador"> <br>
</form>
<h1>Resultados de Busqueda</h1>
    <p>Solo funciona pasandole los id de los equipos(1..5)</p>
<ul>
  {% for Jugadores in object_list %}
    <li>
      {{ Jugadores.Nombre }}, {{ Jugadores.Equipo  }}
    </li>
  {% endfor %}
</ul>
 <a href="{% url 'list_jugadores' %}">| back |</a>
{% endblock %}